<div>
  <h1 class="page-title">{{ _('Statement of Confidentiality') }}</h1>
  <p>
    The contents of this document have been developed by {{ REPORT_COMPANY_INFORMATION.name }}.
    {{ REPORT_COMPANY_INFORMATION.name }} considers the contents of this
    document to be proprietary and business confidential information. This information is to be used only in the
    performance
    of its intended use. This document may not be released to another vendor, business partner, contractor or any other
    third party without
    prior
    written consent from {{ REPORT_COMPANY_INFORMATION.name }}. Additionally, no portion of this document may be
    communicated, reproduced,
    copied or distributed without the prior consent of {{ REPORT_COMPANY_INFORMATION.name }}.
  </p>
</div>